.section {
    background: transparent;
    padding: 3.5rem 20%;
}

.content {
    display: flex;
    justify-content: space-between;
    max-width: 70rem;
    margin: auto;
    margin-top: 2.2rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

}

.logo {
    width: 5rem;
    height: auto;
}

@media (max-width: 1224px) {
    .section {
        background: transparent;
        padding: 2rem 1rem;
    }
    .content {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}