@import './helpers.scss';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.text-extra-large {
    font-size: 2.66rem;
    line-height: 100%;
}

.text-large {
    font-size: 1.9rem;
    line-height: 2.1rem;
}

.text-medium {
    font-size: 1rem;
    line-height: 1.2rem;
}

.text-bold-500 {
    font-weight: 500;
}

.text-bold-600 {
    font-weight: 600;
}

.text-bold-700 {
    font-weight: 700;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
    justify-content: flex-end;
}

.text-white {
    color: white;
}

.text-primary {
    color: $primary;
}

.text-gradient {
    background: linear-gradient(135deg, $primary .89%, $java 94.05%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-right {
    margin-left: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 70vh;
    background-color: rgb(249, 249, 249);
    padding: 4rem 10%;
    .col-33 {
        flex: 1 1 33%;
        margin-right: 4rem;
    }
    .col-67 {
        flex: 1 1 67%;
    }
}

.card {
    width: 100%;
    padding: 1.5rem;
    border-radius: 5px;
    transition: all 0.2s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 2px 4px;
    backface-visibility: hidden;
    background-color: rgb(255, 255, 255);
    border-image: initial;
    margin-bottom: 1.5rem;
}

.button {
    padding: 0.5rem 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4badad;
    border-radius: .25rem;
    color: white;
}

.fancy-checkbox {
    padding-left: 40px;
    margin-bottom: 10px;
  
    font-family: "Comic Sans MS", sans-serif;
  }
  .fancy-checkbox__image {
    width: 35px;
    height: 35px;
  
    margin-left: -40px;
  
    background-image: url('../assets/images/box.svg') no-repeat 0 0;
  }
//   .fancy-checkbox__input:focus + .fancy-checkbox__image {
//     background-position-x: -40px;
//   }

  .fancy-checkbox__input:checked + .fancy-checkbox__image {
    background-image: url('../assets/images/checkbox.svg') no-repeat 0 0;
}
//   .fancy-checkbox__input:checked:focus + .fancy-checkbox__image {
//     background-position-x: -160px;
//   }

  
  .fancy-checkbox__label {
    line-height: 35px;
  }