.filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__dropdowns {
        display: flex;
    }
}

@media (max-width: 676px) {
    .filters {
        &__dropdowns {
            margin-bottom: 1rem;
            flex-wrap: wrap;
        }
    }
}