// @import '../styles/helpers.scss';


.dropzone {
    display: block;
    text-align: left;
    transition: opacity .3s,transform .3s;
    transform: scaleY(1) translateY(0);
    opacity: 1;
    cursor: pointer;
}

.dropzone__content {
    opacity: 1;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.02);
        transition: transform 0.3s;
    }
    .dropzone__inner {
        border: 2px dashed #004280;
        height: 100%;
        width: 100%;
        display: block;
        background: #fff!important;
        padding: 0;
        font-size: 0.8rem;
        background-color: transparent;
        border-radius: 14px;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        background-color: rgba(75,173,173, 0.05);
        .subtitle {
            line-height: 1.85rem;
            font-size: 1rem;
            text-align: center;
            color: #a4c3ce;
        }
    }
    .blanket {
        background: rgba(77, 77, 77, 0.9);
        border: 2px dashed transparent;
        border-radius: 14px;
        color: white;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: 20;
        /* cursor: pointer; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .file__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1rem;
        }
        .icon {
            height: 50px;
            width: auto;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .circular {
            height: 64px;
            width: 64px;
            border-radius: 50px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: 2px solid #FFF;
            text-transform: uppercase;
            font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
            padding: 4px 8px;
            font-weight: bold;
            color: #FFF;
            transition: all 0.15s linear;
            cursor: pointer;
            img {
                height: 30px;
                width: auto;
            }
        }
    }

}