.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__control {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        .label {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            margin-bottom: 10px;        
        }
        .input {
            height: 34px;
            border: 1px solid #d3d6dd;
            border-radius: 2px;
            padding-left: 10px;
            z-index: 2;
            background: transparent;
            position: relative;
            outline: none;
        }
    }
}