.modal__blanket {
    background-color: rgba(34,34,34,.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: opacity-animation .3s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 100;
    overflow-y: hidden;
    overflow: auto;
}
.modal__blanket > div {
    position: relative;
    margin: auto;
    padding: 32px;
    padding-top: 10vh;
    animation: motion-animation .3s ease-in-out;
    min-height: 100%;
    max-width: 100%;
}

.modal__container {
    height: 100%;
}

.modal__inner {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 14px 0 rgba(0,0,0,.2);
    background-color: #fff;
    border-radius: 8px;
    max-width: 1000px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: space-between;
    cursor: pointer;
}

.modal__body {
    padding: 0;
    min-height: 40px;
    height: 100%;
}

.text__box {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
    margin-bottom: 3rem;
    padding: 1rem;
    overflow-y: auto;
    background: white;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}